<div class="container">
  <div class="card" style="background: var(--green); color: var(--white) !important">
    <h1>check your email!</h1>
    it'll be coming from dinobox@hackclub.com :-)
  </div>
</div>
