<div class="container">
  <div class="card sunken">
    <h1>here be dragons :-P</h1>
    <form action="javascript:void(0);" onsubmit="document.cookie = `internal_key=${$('#key').value}`; alert('set!'); return false">
      <input type="password" placeholder=":3" id="key" name="key" style="margin-top: var(--spacing-3)"> <br/>
      <input class="button" type="submit" style="margin-top: var(--spacing-2);" value="save">
    </form>
  </div>
  <a href="/internal">to the tool....</a>
</div>